.InputField {
  @media (min-width: 550px) {
    width: 45%;
    margin: 0 auto;
  }
  .InputField-label {
    display: block;
    margin: 0 0 0.8rem;
    font-size: 1.4rem;
  }
  .InputField-input {
    width: 100%;
    padding: 1rem 1.8rem;
    margin: 0 0 2rem;
    font-size: 1.6rem;
    border: 1px solid #949494;
  }
}
