.DesktopMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5.5rem;
  .DesktopMenu__listItem {
    list-style: none;
    padding: 0.3rem 1rem;
    margin: 0;
    border: none;
    &:first-child {
      margin-left: 55px;
    }
    &:last-child {
      margin-right: 55px;
    }
  }
}

.MenuActive {
  transform: translateY(8rem);
  z-index: -122;
  transition: all 0.5s;
  position: absolute;
  width: 100%;
}

.MenuDeactive {
  transform: translateY(-30rem);
  z-index: -122;
  transition: all 0.5s;
  position: absolute;
}

// @keyframes Active {
//   from {
//     transform: translateY(-30rem);
//     z-index: -122;
//   }
//   to {
//     transform: translateY(0rem);
//   }
// }
.DesktopMenu,
.MenuActive,
.MenuDeactive {
  padding: 0;
  margin: 0;
  li {
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    border-bottom: 0.2rem solid #e9ecee;
  }
}
@media only screen and (min-width: 750px) {
  .MenuActive {
    display: none;
  }
}
.LinkBtn {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
  }
}
