.Men {
  .Men-title {
    margin: 1rem 12.8rem;
    padding: 0 5.5rem;
    font-size: 3.2rem;
    color: #808080;
  }
  .Men-products {
    padding: 0 21.5rem;
    h1 {
      font-weight: bold;
      margin: 4.5rem 0;
    }
    .Men-products__item {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
