.LoginAccount {
  text-align: center;
  padding: 3.5rem 0 0;
  .LoginAccount-MyAccount {
    margin: 0 0 3.5rem;
    .LoginAccount-MyAccount__heading {
      font-size: 4rem;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 0 0 0.8rem;
    }
    .LoginAccount-MyAccount__link {
      font-size: 1.6rem;
      border-bottom: 1px solid #007bff;
    }
  }
  .LoginAccount-desktop {
    @media (min-width: "990px") {
      display: flex;
      justify-content: space-between;
      padding: 0 5.5rem;
    }
  }
  .LoginAccount-OrderHistory {
    .LoginAccount-OrderHistory__heading {
      font-size: 3.2rem;
      margin: 0 0 0.8rem;
      letter-spacing: 1px;
      font-weight: 400;
    }
    .LoginAccount-OrderHistory__paragraph {
      font-size: 1.5rem;
      color: #69727b;
      margin: 0;
      padding: 0;
    }
  }
  .LoginAccount-AccountDetails {
    .LoginAccount-AccountDetails__heading {
      font-size: 3.2rem;
      margin: 0 0 0.8rem;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }
}
